@font-face {
  font-family: "neue Singular H";
  font-display: swap;
  src: url("../fonts/neuesingularMedium.woff") format("woff"), url("../fonts/neuesingularMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "neue Singular H";
  font-display: swap;
  src: url("../fonts/neuesingularSemibold.woff") format("woff"), url("../fonts/neuesingularSemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "neue Singular H";
  font-display: swap;
  src: url("../fonts/neuesingularRegular.woff") format("woff"), url("../fonts/neuesingularRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oskari G2";
  font-display: swap;
  src: url("../fonts/oskariG2Regular.woff") format("woff"), url("../fonts/oskariG2Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: absolute;
  z-index: 11;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.header-line {
  height: 26px;
  border-bottom: 1px solid #EBEBEB;
  overflow: hidden;
  position: relative;
}

.header-line iframe {
  position: absolute;
  top: -8px;
  width: 100%;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
}

.header-body__burger {
  margin: 0 0 0 auto;
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
}

.header-body__burger.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-body__burger.active span:nth-child(2) {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-body__burger.active span:nth-child(3) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header-body__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3c3c3c;
  position: absolute;
  left: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.header-body__burger span:nth-child(1) {
  top: 0;
}

.header-body__burger span:nth-child(2) {
  top: 9px;
}

.header-body__burger span:nth-child(3) {
  bottom: 0px;
}

.header-body__menu {
  margin: 0 0 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-body__menu-item {
  font-family: 'neue Singular H';
  font-weight: 400;
  font-size: 16px;
  color: #242953;
  background: transparent;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color .3s ease, background .3s ease;
  -o-transition: color .3s ease, background .3s ease;
  transition: color .3s ease, background .3s ease;
  margin: 0 0 0 6px;
  padding: 0 10px;
}

.header-body__menu-item:first-child {
  margin: 0;
}

.header-body__menu-item:hover {
  background: rgba(0, 102, 255, 0.11);
  color: #0066FF;
}

.footer {
  margin: -345px 0 0;
  padding: 32px 0 26px;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-body__col:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 515px;
          flex: 0 0 515px;
}

.footer-body__col:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.footer-body__title {
  font-family: 'Oskari G2';
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: #242953;
  padding: 0 0 0 25px;
}

.footer-body__content {
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-body__content-item {
  margin: 16px 0 0 25px;
}

.footer-body__cr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 56px 0 0 0;
  padding: 0 0 0 25px;
  font-family: 'neue Singular H';
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #242953;
}

.footer-body__terms {
  font-family: 'neue Singular H';
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #242953;
}

.main {
  padding: 284px 0 90px;
  background: #F3F9FE;
  border-radius: 0px 0px 100px 100px;
  background-image: url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.main .container {
  height: inherit;
}

.main::after {
  content: '';
  position: absolute;
  opacity: .1;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-noise.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.main-body__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body__col:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body__text {
  max-width: 550px;
}

.main-body__text-title {
  font-family: 'Oskari G2';
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.01em;
  color: #242953;
}

.main-body__text-desc {
  font-family: 'neue Singular H';
  font-size: 18px;
  line-height: 24px;
  color: #242953;
  margin: 20px 0 0 0;
}

.main-body__btns {
  margin: 53px 0 0 0;
}

.main-body__btns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 0;
  -webkit-box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
          box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
  border-radius: 10px;
  font-family: 'neue Singular H';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  position: relative;
  height: 56px;
  width: 100%;
  max-width: 336px;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.main-body__btns-item:hover {
  opacity: .8;
}

.main-body__btns-item svg {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.main-body__btns-item:first-child {
  margin: 0;
}

.main-body__btns-item_purple {
  background: #9647BB;
}

.main-body__btns-item_blue {
  background: #0066FF;
}

.main-calc {
  width: 100%;
  max-width: 392px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 95px rgba(0, 102, 255, 0.11);
          box-shadow: 0px 4px 95px rgba(0, 102, 255, 0.11);
  border-radius: 20px;
  padding: 22px 28px 28px 28px;
  margin: -180px 0 0 -90px;
}

.main-calc__title {
  font-family: 'Oskari G2';
  font-size: 36px;
  letter-spacing: 0.01em;
  color: #242953;
}

.main-calc__body {
  margin: 32px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-calc__body-select {
  position: relative;
}

.main-calc__body-select .select__label {
  position: absolute;
  top: -6px;
  left: 19px;
  font-family: 'neue Singular H';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #859FCF;
  padding: 0 4px;
  display: inline-block;
  background-color: #FFFFFF;
}

.main-calc__body-select .select2-container {
  width: 100% !important;
}

.main-calc__body-select .select2-container .select2-selection--single {
  height: 56px;
}

.main-calc__body-select .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 56px;
}

.main-calc__body-select .select2-container--default .select2-selection--single {
  border-radius: 10px;
  border: 1px solid #DAE0EB;
}

.main-calc__body-select .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 23px;
  font-family: 'neue Singular H';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #242953;
}

.main-calc__body-select .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.main-calc__body-input {
  margin: 26px 0 0 0;
  position: relative;
}

.main-calc__body-input input {
  width: 100%;
  border: 1px solid #DAE0EB;
  border-radius: 10px;
  padding: 18px 23px;
  font-family: 'neue Singular H';
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #242953;
}

.main-calc__body-input input::-webkit-outer-spin-button,
.main-calc__body-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-calc__body-input input[type=number] {
  -moz-appearance: textfield;
}

.main-calc__body-input span {
  position: absolute;
  top: -6px;
  left: 19px;
  font-family: 'neue Singular H';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #859FCF;
  padding: 0 4px;
  display: inline-block;
  background-color: #FFFFFF;
}

.main-calc__body-input_total input {
  border: 1px solid #0066FF;
  color: #0066FF;
}

.main-calc__body-input_total span {
  color: #0066FF;
}

.main-calc__body-btn {
  margin: 18px 0 0 0;
  background: #0066FF;
  -webkit-box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
          box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
  border-radius: 10px;
  height: 56px;
  font-family: 'neue Singular H';
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.main-calc__body-btn:hover {
  opacity: .8;
}

.select2-results__option {
  padding: 18px 23px;
  font-family: 'neue Singular H';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #242953;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 100%;
}

.select2-dropdown {
  border: 1px solid #dae0eb;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.why {
  padding: 100px 0;
}

.why-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-body__tg {
  position: absolute;
  top: 20px;
  left: -205px;
}

.why-body__tg::before {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  width: 293px;
  height: 293px;
  border-radius: 50%;
  border: 58px solid rgba(0, 240, 255, 0.1);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.why-body__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.why-body__col_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 342px;
          flex: 0 0 342px;
  position: relative;
}

.why-body__col_img img {
  position: absolute;
  top: -55px;
  left: -35px;
}

.why-body__title {
  font-family: 'Oskari G2';
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0.01em;
  color: #242953;
}

.why-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 44px 0 0 0;
}

.why-content__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 452px;
          flex: 0 0 452px;
  margin: 24px 0 0 0;
}

.why-content__item:first-child {
  margin: 0;
}

.why-content__item:nth-child(even) {
  margin: 24px 0 0 46px;
}

.why-content__item:nth-child(2) {
  margin: 0 0 0 46px;
}

.why-content__item:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 405px;
          flex: 0 0 405px;
}

.why-content__item:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 405px;
          flex: 0 0 405px;
}

.why-content__item-title {
  font-family: 'neue Singular H';
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: #242953;
}

.why-content__item-desc {
  margin: 8px 0 0 0;
  font-family: 'neue Singular H';
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #242953;
  max-width: 440px;
}

.info {
  padding: 10px 0 60px;
}

.info-body__card {
  margin: 37px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0066FF;
  border-radius: 40px;
  padding: 20px 30px 20px 84px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 233px;
}

.info-body__card::after {
  content: '';
  position: absolute;
  opacity: .1;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-noise.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.info-body__card:first-child {
  margin: 0;
}

.info-body__card_about {
  padding: 42px 46px 32px 84px;
  background-image: url(../img/about_bg.png);
}

.info-body__card_bot {
  background-color: #4A586C;
  background-image: url(../img/bot-noise-bg.png);
}

.info-body__card_bot .info-body__card-title {
  margin: 0;
}

.info-body__card_aff {
  background-color: #871F7D;
  background-image: url(../img/bot-noise-bg.png);
}

.info-body__card_aff .info-body__card-title {
  margin: -35px 0 0 0;
}

.info-body__card-title {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 254px;
          flex: 0 0 254px;
  font-family: 'Oskari G2';
  font-size: 64px;
  line-height: 68px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin: -50px 0 0 0;
}

.info-body__card-text {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 650px;
          flex: 0 1 650px;
  font-family: 'neue Singular H';
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin: 0 0 0 46px;
}

.info-body__card-text p {
  margin: 25px 0 0 0;
}

.info-body__card-text p:first-child {
  margin: 0;
}

.info-body__card-ico {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  height: 174px;
  margin: 0 0 0 36px;
}

.plans {
  padding: 0px 0 130px;
}

.plans__title {
  font-family: 'Oskari G2';
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #242953;
}

.plans-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 38px 0 0 0;
}

.plans-body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 27px);
          flex: 0 0 calc(25% - 27px);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 52px rgba(36, 41, 83, 0.06);
          box-shadow: 0px 4px 52px rgba(36, 41, 83, 0.06);
  border-radius: 10px;
  padding: 28px;
  margin: 0 0 0 36px;
}

.plans-body__item:first-child {
  margin: 0;
}

.plans-body__item-label {
  display: inline-block;
  background: rgba(0, 102, 255, 0.1);
  border-radius: 10px;
  padding: 10px 10px 6px;
  font-family: 'neue Singular H';
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #0066FF;
}

.plans-body__item-name {
  margin: 10px 0 0 0;
  font-family: 'Oskari G2';
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #242953;
}

.plans-body__item-desc {
  margin: 0 0 18px;
  width: 100%;
}

.plans-body__item-desc li {
  margin: 25px 0 0 0;
  padding: 25px 0 0 0;
  border-top: 1px solid #DAE0EB;
  font-family: 'neue Singular H';
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #242953;
}

.plans-body__item-btn {
  width: 100%;
  margin: auto 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  background: #0066FF;
  -webkit-box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
          box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
  border-radius: 10px;
  font-family: 'neue Singular H';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.faq {
  padding: 0 0 90px;
}

.faq__title {
  font-family: 'Oskari G2';
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #242953;
}

.faq-body {
  margin: 40px 0 0 0;
}

.faq-body__item {
  margin: 24px 0 0 0;
  padding: 23px 29px;
  background: #F3F9FE;
  border-radius: 10px;
}

.faq-body__item:first-child {
  margin: 0;
}

.faq-body__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'neue Singular H';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #242953;
  cursor: pointer;
}

.faq-body__item-title svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  margin: 0 0 0 36px;
}

.faq-body__item-title.active svg {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq-body__item-content {
  padding: 12px 0 0 0;
  font-family: 'neue Singular H';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #242953;
  display: none;
}

.contact {
  padding: 60px 0 66px;
  background-color: #0066FF;
}

.contact-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-body__line {
  position: absolute;
  top: -60px;
  left: 80px;
  background: #00F0FF;
  width: 146px;
  height: 690px;
  border-radius: 0px 0px 100px 100px;
}

.contact-body__line::after {
  content: '';
  display: block;
  width: 146px;
  height: 160px;
  background: #00F0FF;
  border-radius: 0px 0px 100px 100px;
  position: absolute;
  bottom: 0;
}

.contact-body__line span {
  position: absolute;
  display: block;
  background: #0066FF;
  height: 160px;
  width: 880px;
  bottom: -10px;
  left: 60px;
}

.contact-body__line span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}

.contact-body__line span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  z-index: -1;
}

.contact-body__col {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-body__col:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  margin: -5px 0 0 0;
}

.contact-body__col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 492px;
          flex: 0 0 492px;
  margin: 0 100px 0 90px;
}

.contact-body__col-title {
  font-family: 'Oskari G2';
  font-size: 64px;
  line-height: 68px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.contact-body__col-desc {
  margin: 18px 0 0 0;
  font-family: 'neue Singular H';
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.contact-body__col-tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0 0 0;
  font-family: 'neue Singular H';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.contact-body__col-tg svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 8px 0 0;
  width: 30px;
  height: 30px;
}

.contact-body__support {
  padding: 24px 28px 52px 28px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 95px rgba(0, 102, 255, 0.11);
          box-shadow: 0px 4px 95px rgba(0, 102, 255, 0.11);
  border-radius: 20px;
  width: 100%;
  margin: 0 0 0 -5px;
}

.contact-body__support-title {
  font-family: 'Oskari G2';
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #242953;
}

.contact-body__support-tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px 0 0 0;
  font-family: 'neue Singular H';
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #3589D6;
}

.contact-body__support-tg svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0;
}

.contact-body__support-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 0;
  font-family: 'neue Singular H';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  background: #0066FF;
  -webkit-box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
          box-shadow: 0px 8px 21px rgba(0, 102, 255, 0.39);
  border-radius: 10px;
  width: 100%;
  height: 56px;
}

.content-container__contact {
  overflow: hidden;
  padding: 0 0 345px;
}

body {
  overflow: auto;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1500px) {
  .contact-body__col:nth-child(2) {
    margin: 0 0 0 50px;
  }
}

@media (max-width: 1200px) {
  .main {
    padding: 200px 0 50px;
    border-radius: 0 0 50px 50px;
  }

  .main-calc {
    margin: -180px 0 0 0;
  }

  .why {
    padding: 20px 0 50px;
  }

  .why-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .why-body__title {
    font-size: 76px;
    line-height: 76px;
  }

  .why-body__tg {
    display: none;
  }

  .why-body__col_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .why-body__col_img img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 500px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .why-content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 23px);
            flex: 0 0 calc(50% - 23px);
  }

  .why-content__item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 23px);
            flex: 0 0 calc(50% - 23px);
  }

  .why-content__item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 23px);
            flex: 0 0 calc(50% - 23px);
  }

  .info {
    padding: 40px 0;
  }

  .info-body__card {
    padding: 32px 36px 22px 44px;
  }

  .info-body__card-title {
    font-size: 56px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
            flex: 0 0 220px;
  }

  .plans {
    padding: 20px 0 50px;
  }

  .plans__title {
    font-size: 72px;
    line-height: 72px;
  }

  .plans-body {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .plans-body__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 18px);
            flex: 0 0 calc(50% - 18px);
    margin: 30px 0 0 36px;
  }

  .plans-body__item:nth-child(odd) {
    margin: 30px 0 0 0;
  }

  .faq__title {
    font-size: 72px;
    line-height: 72px;
  }

  .contact-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact-body__line {
    display: none;
  }

  .footer-body__col:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 992px) {
  .main-body__col:nth-child(2) {
    margin: 0 0 0 20px;
  }

  .why-content__item-desc br {
    display: none;
  }

  .info {
    padding: 10px 0 30px;
  }

  .info-body__card {
    padding: 32px 36px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
  }

  .info-body__card_aff .info-body__card-title {
    margin: 0;
  }

  .info-body__card-title {
    font-size: 56px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0;
  }

  .info-body__card-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 20px 0 0 0;
  }

  .info-body__card-text p {
    margin: 15px 0 0;
  }

  .info-body__card-text br {
    display: none;
  }

  .info-body__card-ico {
    display: none;
  }

  .contact-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact-body__col:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contact-body__col:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
  }
}

@media (max-width: 767px) {
  .header-body__burger {
    display: block;
  }

  .header-body__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .header-body__menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .header-body__menu-item {
    font-size: 24px;
    margin: 10px 0 0 0;
  }

  .main {
    padding: 100px 0 50px;
    border-radius: 0 0 25px 25px;
  }

  .main-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-body__col:nth-child(2) {
    margin: 0;
  }

  .main-body__text {
    text-align: center;
    margin: 0 auto;
  }

  .main-body__text-title {
    font-size: 48px;
    line-height: 48px;
  }

  .main-body__text-desc {
    font-size: 16px;
    line-height: 22px;
    margin: 5px 0 0 0;
  }

  .main-body__btns {
    margin: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-body__btns-item {
    height: 46px;
    font-size: 15px;
    max-width: 270px;
    margin: 15px 0 0 0;
  }

  .main-body__btns-item svg {
    width: 25px;
  }

  .main-calc {
    margin: 40px 0 0 0;
    max-width: 500px;
    padding: 22px;
  }

  .main-calc__title {
    font-size: 32px;
  }

  .why {
    padding: 30px 0 50px;
  }

  .why-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .why-body__title {
    font-size: 48px;
    line-height: 48px;
  }

  .why-body__col_img {
    display: none;
  }

  .why-content__item-title {
    font-size: 24px;
    line-height: 30px;
  }

  .why-content__item-desc {
    margin: 4px 0 0 0;
    font-size: 16px;
    line-height: 20px;
  }

  .info {
    padding: 10px 0 30px;
  }

  .info-body__card {
    padding: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 20px;
    margin: 20px 0 0 0;
  }

  .info-body__card-title {
    font-size: 36px;
    line-height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .info-body__card-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 10px 0 0 0;
    font-size: 18px;
    line-height: 22px;
  }

  .info-body__card-text p {
    margin: 15px 0 0;
  }

  .info-body__card-ico {
    display: none;
  }

  .plans {
    padding: 10px 0 30px;
  }

  .plans__title {
    font-size: 56px;
    line-height: 56px;
  }

  .plans-body__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 30px 0 0 0;
    padding: 20px;
  }

  .plans-body__item:nth-child(odd) {
    margin: 30px 0 0 0;
  }

  .plans-body__item-name {
    font-size: 32px;
    line-height: 36px;
  }

  .plans-body__item-desc li {
    padding: 18px 0 0 0;
    margin: 18px 0 0 0;
    font-size: 20px;
    line-height: 24px;
  }

  .plans-body__item-btn {
    height: 46px;
    max-width: 360px;
    margin: auto auto 0;
  }

  .faq__title {
    font-size: 56px;
    line-height: 56px;
  }

  .faq-body__item {
    padding: 15px 20px;
  }

  .faq-body__item-title {
    font-size: 20px;
    line-height: 24px;
  }

  .faq-body__item-title svg {
    height: 24px;
    margin: 0 0 0 8px;
  }

  .faq-body__item-content {
    padding: 8px 0 0 0;
    font-size: 16px;
    line-height: 24px;
  }

  .contact {
    padding: 36px 0;
  }

  .contact-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-body__col-title {
    font-size: 56px;
    line-height: 60px;
  }

  .contact-body__col-desc {
    max-width: 460px;
  }

  .contact-body__col:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contact-body__col:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 30px 0 0 0;
  }

  .footer-body__title {
    font-size: 42px;
    line-height: 46px;
    text-align: center;
    padding: 0;
  }

  .footer-body__cr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .footer-body__terms {
    margin: 6px 0 0 0;
  }

  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 575px) {
  .main-body__text-title {
    font-size: 40px;
    line-height: 40px;
  }

  .main-calc {
    padding: 15px;
  }

  .main-calc__title {
    font-size: 28px;
  }

  .why-body__title {
    font-size: 42px;
    line-height: 42px;
  }

  .why-content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 20px 0 0 0;
  }

  .why-content__item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .why-content__item:nth-child(2) {
    margin: 20px 0 0 0;
  }

  .why-content__item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .why-content__item:nth-child(even) {
    margin: 20px 0 0 0;
  }

  .faq__title {
    font-size: 42px;
    line-height: 42px;
  }

  .contact-body__col-title {
    font-size: 38px;
    line-height: 40px;
  }
}

@media (max-width: 360px) {
  .faq__title {
    font-size: 40px;
    line-height: 40px;
  }

  .contact-body__support {
    padding: 15px;
  }

  .contact-body__col-title {
    font-size: 32px;
    line-height: 34px;
  }

  .contact-body__col-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-body__cr {
    font-size: 16px;
  }

  .footer-body__terms {
    font-size: 16px;
  }
}